<h2><%= company.name %></h2>


<div class=''>
    <div class='span-6 column last' style=''>
      <ul id='company-option-list'>
        <li>
          <%= link_to [:company_admin, company, :options], :class => option_selected do %>
            <label> Options </label>
          <% end %>
        </li>
        <li>
          <%= link_to root_path, :class => collaborators_selected do %>
          <label> Collaborators </label>
          <% end %>
        </li>
      </ul>
    </div>
    <div class='span-18 column last company-widget' style='width: 719px;'>

      <div class='ar-widget' style='padding:0px;margin-top:0;'>
        <div class='top-header' style=''>
          <h3>Company Settings</h3>
        </div>
        <div class='widget-content' style='width:100%;'>
          <div class='selection'>
            <%= form_for company, :url => [:my_deck, company] do |f| %>
              <ul class='span-12 column'>
                <li class="field">
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                </li>
                <li class="field">
                  <%= f.label :unique_identifier %>
                  <%= f.text_field :unique_identifier %>
                </li>
                <li class="field">
                  <%= f.label :website %>
                  <%= f.text_field :website %>
                </li>
              </ul>
              <div class="actions span-4"><%= f.submit 'Update' , :class => 'button' %></div>
            <% end %>
            <div class='clear'> </div>
          </div>
          <div class='clear'> </div>
          <div class='selection'>
          blah
          </div>
          <div class='clear'> </div>
        </div>
        <div class='clear'> </div>
      </div>
      <div class='ar-widget' style='padding:0px;'>
        <div class='top-header' style=''>
          Features
        </div>
        <div class='widget-content' style='width:100%;'>
          blah
        </div>
      </div>
    </div>
</div>