<div id='company_registration' class='' style='padding:0px;margin-top:0;'>
  <div class='top-header' style=''>
    <h2>Create your Company </h2>
  </div>
  <div class='plans_wrapper'>
    <div class='plan cplan paid last'>
      <div class="price" style='position: relative;'>
        <span class="symbol">​$ </span>
        <span class="amount">​<%= @account.monthly_charge %>​</span>
        <span class="duration">​/mo​</span>
      </div>
      <h3>​<%= @account.name %>​</h3>
      <p>
        <strong>​<%= @account.name %> Company </strong>
        <%= @account.description %>
      </p>
    </div>
  </div>
  <div class=' ar-widget' >
    <div class='selection company_info'  style=''>
      <h3> Company Info </h3>
      <%= form_for @company, :url => [:registrations, @company] do |f| %>
        <ul class='span-12 column'>
          <li class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </li>
          <li class="field">
            <%= f.label :unique_identifier %>
            <%= f.text_field :unique_identifier %>
          </li>
          <li class="field">
            <%= f.label :website %>
            <%= f.text_field :website %>
          </li>
        </ul>
        <%= f.hidden_field :account_id %>
        <% if @account.monthly_charge >= 0.01 %>
          <h3> Billing Details </h3>
          <ul class='span-12 column'>
            <li class="field">
              <%= f.label :website, 'Card Number'%>
              <%= f.text_field :website %>
            </li>
            <li class="field">
              <%= f.label :website, 'Expiration Date'%>
              <%= f.text_field :website %>
            </li>
          </ul>
        <% end %>
        <div class='clear'> </div>
        <div id='agree_to_terms'>
          By clicking on "Create your Company" below, you are agreeing to the Terms of Service and the Privacy Policy.
        </div>
        <div class="actions span-4"><%= f.submit 'Create your Company' , :class => 'gh-button' %></div>
      <% end %>
      <div class='clear'> </div>
    </div>
    <div class='account_perks' style='float:left;'>
      <ul>
        <li>
          Upgrade, downgrade or cancel at any time
        </li>
        <li>
          Get your startup in front of Investors
        </li>
      </ul>
    </div>
    <div class='clear'> </div>
  </div>
  <div class='clear'> </div>
</div>