<% content_for :head do -%>
  <%= stylesheet_link_tag 'home_page.css' %>
<% end %>

<div id='featured-title' class='span-24'>
  <h1>
    Bringing your Startup to Investors.
  </h1>
</div>

<div id='featured-links' class='span-23 prepend-1'>
  <%= link_to( root_path, :class => 'span-7 column highlighted-box', :style => 'margin-right:25px;' ) do %>
    <%= image_tag 'angel-meets-investor.jpg', :width => '180px', :height => '180px' %>
    <h3>Create your Deck.</h3>
  <% end %>

  <%= link_to( root_path, :class => 'span-7 column highlighted-box', :style => 'margin-right:25px;color:#722;' ) do %>
    <%= image_tag 'angel-help.jpg', :width => '180px', :height => '180px' %>
    <h3>Refine your Pitch.</h3>
  <% end %>

  <%= link_to( root_path, :class => 'span-7 column highlighted-box last' ) do %>
    <%= image_tag 'angel-savior.jpeg', :width => '180px', :height => '180px' %>
    <h3>Start a Business Plan.</h3>
  <% end %>
  <div class='clear'></div>
</div>

<div id='app-features' class='span-24'>
  <h2>We are here to help you get your startup in front of Investors.</h2>
  <div id='featured_item' class='span-24 last'>


    <div id='featured-list-wrapper'>


      <ul id='featured-list' class='pretty-list'>
        <li><%= site_name %> gives you an easy place to store your investor Deck.</li>
        <li><%= site_name %> allows you to share your deck to investors easily or you can keep your deck private until you are out of stealth mode.  Once you are out of stealth mode, open your deck to the world and allow investors to see your company.</li>
        <li><%= site_name %> allows investors to follow your progress easily.</li>
        <li><%= site_name %> allows investors to give you the valuable feedback you are looking for, saving you and the investor time.</li>
        <li><%= site_name %> is free to start and if you upgrade to a paid account it is a tax deductible business expense.</li>
      </ul>
    </div>
  </div>

</div>
