
<h2> Privacy Policy </h2>

<h3>General Information<h3>

<p>
We collect details about your StartUp to help you present your data to Investors.  Depending on the level of privacy of your account, we will not share your details except to provide products or services you’ve requested.  The information we collect is used to improve the content of our Web pages and the quality of our service, and is only shared to investors you have given permission to view your data.
We may also share your data under the following circumstances:
</p>
<p>
It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.
We transfer information about you if <%= site_name %> is acquired by or merged with another company. In this event, <%= site_name %> will notify you before information about you is transferred and becomes subject to a different privacy policy.
</p>

<h3>Information Gathering and Usage</h3>

<p>
When you register for <%= site_name %> we ask for information such as your name, email address, billing address, credit card information. Members who sign up for the free account are not required to enter a credit card.
<%= site_name %> uses collected information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact, and research.
</p>

<h3>Data Storage</h3>
<p>
<%= site_name %> uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run <%= site_name %>. Although <%= site_name %> owns the code, databases, and all rights to the <%= site_name %> application, you retain all rights to your data.
</p>

<h3>Disclosure</h3>

<p>
<%= site_name %> may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the Terms of Service.
</p>

<h3>Changes</h3>

<p>
<%= site_name %> may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your <%= site_name %> primary account holder account or by placing a prominent notice on our site. Such notice will be given at least 3 days in advance of the date the new policy will be applied.
</p>

<h3>Questions</h3>

<p>
Any questions about this Privacy Policy should be addressed to info@angeldeck.com.
</p>
