
  <%= f.error_messages %>
<ul>
  <li class="field">
    <%= f.label :pageable_id %>
    <%= f.number_field :pageable_id %>
  </li>
  <li class="field">
    <%= f.label :pageable_type %>
    <%= f.text_field :pageable_type %>
  </li>
  <li class="field">
    <%= f.label :page_type %>
    <%= f.text_field :page_type %>
  </li>
  <li class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </li>
  <li class="field">
    <%= f.label :description_markup %>
    <%= f.text_area :description_markup %>
  </li>
</ul>