<h1> Edit Page </h1>

<%= form_for @page, :url => [:my_deck, @page] do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Update' , :class => 'button' %></div>
<% end %>

<p>
  <%= link_to "Show", [:my_deck, @page], :class => 'button' %> |
  <%= link_to "View All", my_deck_pages_path, :class => 'button' %>
</p>
