<h1> Page </h1>

<p>
  <strong>Pageable:</strong>
  <%= @page.pageable_id %>
</p>
<p>
  <strong>Pageable Type:</strong>
  <%= @page.pageable_type %>
</p>
<p>
  <strong>Page Type:</strong>
  <%= @page.page_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>
<p>
  <strong>Description Markup:</strong>
  <%= @page.description_markup %>
</p>

<p>
  <%= link_to "Edit", edit_my_deck_page_path(@page), :class => 'button' %> |
  <%= link_to "View All", my_deck_pages_path, :class => 'button' %>
</p>
